test.sqlite
bin/*
comicboxd/data/bindata.go
comicboxd/web/node_modules/*
comicboxd/web-old/node_modules/*
comicboxd/web/dist/*
.cache/*

cordova/www/dist/*

**/node_modules/*

# android 
cordova/platforms/android/.gradle/*
cordova/platforms/android/CordovaLib/build/*
cordova/platforms/android/app/build/*
