:global {
    a {
        color: inherit;
        text-decoration: inherit;
    }

    :root {
        --mdc-theme-primary: #2196f3;
        --mdc-theme-secondary: hsl(45, 100%, 51%);
    }

    html * {
        font-family: Roboto, sans-serif;

    }
}