.book-list {
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(150px, 1fr));

    $gap: 15px;

    grid-column-gap: $gap;
    grid-row-gap: $gap; // padding: $gap;
    .book {
        background: white;
        margin: 0px;

        $aspect-ratio: 7/10;
        $series-size: 18px;
        $title-size: 14px;
        $title-padding: 5px;

        &:empty {
            background: lightgrey;
        }
        min-height: 250px;

        .cover {
            // padding-bottom: calc(100% / (#{$aspect-ratio}));
            // width: 100%;
            overflow: hidden; // background-repeat: no-repeat;
            // background-size: contain;
            // background-position: center;
            // height: 200px;
            img {
                display: block;
                margin: auto;

                height: auto;
                max-height: 100%;

                width: auto;
                max-width: 100%;

            }
        }

        .series,
        .title {
            display: block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis; // width: 100%;
            margin-left: $title-padding;
            margin-right: $title-padding;
        }

        .series {
            color: rgba(0, 0, 0, 1);
            font-size: $series-size;
        }

        .title {
            color: rgba(0, 0, 0, 0.5);
            font-size: $title-size;
            margin-bottom: $title-padding;
        }

    }

}