@import "../variables.scss";

.card {
    $image-height: 250px;
    $unread-size: 30px;

    width: 100%;
    height: $image-height + ($font-size * $line-height * 2);
    overflow: hidden;
    position: relative;

    a {
        display: block;
    }

    .unread {
        position: absolute;
        top: 0;
        right: 0;
        background-color: $primary;
        color: $on-primary;
        min-width: $unread-size;
        height: $unread-size;
        line-height: $unread-size;
        text-align: center;
        padding: 0 6px;
        font-weight: bold;

        &:empty {
            $sqrt2: 1.41421356237;
            $new-unread-size: $unread-size * $sqrt2;
            transform: translate(#{$new-unread-size / 2}, #{-$new-unread-size / 2}) rotate(45deg);
            width: $new-unread-size;
            height: $new-unread-size;
        }
    }

    .image {
        width: 100%;
        height: $image-height;
        object-fit: cover;
        box-shadow: 0px 0px 9px -1px rgba(black, 0.5);
        background-color: rgba(black, 0.5);
    }


    .titles {

        .title,
        .subtitle {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        .subtitle {
            color: rgba(white, 0.7);
        }
    }
}

.cardList {
    display: grid;

    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 20px;

    &.netflix {
        @media screen and (max-width: 500px) {
            grid-template-columns: repeat(auto-fill, 150px);

            overflow-x: auto;
        }
    }
}