@import "../variables.scss";


.cardList {
    $grid-gap: 20px;

    $image-height: 250px;
    $unread-size: 30px;
    $card-height: $image-height + ($font-size * $line-height * 2);

    display: grid;

    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: $grid-gap;

    .card {
        width: 100%;
        height: $card-height;
        overflow: hidden;
        position: relative;

        a {
            display: block;
        }

        .unread {
            position: absolute;
            top: 0;
            right: 0;
            background-color: $primary;
            color: $on-primary;
            min-width: $unread-size;
            height: $unread-size;
            line-height: $unread-size;
            text-align: center;
            padding: 0 6px;
            font-weight: bold;

            &:empty {
                transform: skewY(45deg) translateY(-50%);
            }
        }

        .image {
            width: 100%;
            height: $image-height;
            object-fit: cover;
            box-shadow: 0px 0px 9px -1px rgba(black, 0.5);
            background-color: rgba(black, 0.5);
        }


        .titles {

            .title,
            .subtitle {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }

            .subtitle {
                color: rgba(white, 0.7);
            }
        }

    }

    &.large {
        .card:first-child {
            $padding: 120px;
            $column-span: 3;
            grid-column: 1 / -1;

            background: #444;
            padding: 20px $padding;
            margin: 0 -#{$padding};
            box-sizing: content-box;
            height: $card-height;

            box-shadow: 0px 0px 9px -1px rgba(black, 0.5) inset;

            .unread {
                right: $padding;

                &:empty {
                    $new-unread-size: $unread-size * $sqrt2;
                    transform: unset;
                }
            }

            .image {
                width: calc(#{100% / $column-span * ($column-span - 1)} - #{$grid-gap / $column-span});
                max-width: $card-height * 1.5;
                float: left;
                margin-right: $grid-gap;
                height: $card-height;
                // box-shadow: none;
            }

            .titles {
                font-size: 2em;
            }

            @media screen and (max-width: 550px) {
                height: $card-height + ($font-size * $line-height * 4);

                .image {
                    width: 100%;
                    max-width: unset;
                    float: unset;
                }

            }
        }
    }
}