$mdc-theme-primary: #2196f3;
$mdc-theme-on-primary: #ffffff;

$mdc-theme-secondary: #ffc107;
$mdc-theme-on-secondary: #ffffff;

$mdc-theme-background: #f5f5f5;
$mdc-theme-on-background: #212121;

$mdc-theme-surface: #ffffff;
$mdc-theme-on-surface: #212121;

@mixin colorPrimary {
    color: $mdc-theme-primary;
    color: var(--mdc-theme-primary, $mdc-theme-primary);
}

@mixin colorSecondary {
    color: $mdc-theme-secondary;
    color: var(--mdc-theme-secondary, $mdc-theme-secondary);
}

@mixin backgroundPrimary {
    background-color: $mdc-theme-primary;
    background-color: var(--mdc-theme-primary, $mdc-theme-primary);
    color: $mdc-theme-on-primary;
    color: var(--mdc-theme-on-primary, $mdc-theme-on-primary);
}

@mixin backgroundSecondary {
    background-color: $mdc-theme-secondary;
    background-color: var(--mdc-theme-secondary, $mdc-theme-secondary);
    color: $mdc-theme-on-secondary;
    color: var(--mdc-theme-on-secondary, $mdc-theme-on-secondary);
}

@mixin backgroundNormal {
    background-color: $mdc-theme-background;
    background-color: var(--mdc-theme-background, $mdc-theme-background);
    color: $mdc-theme-on-background;
    color: var(--mdc-theme-on-background, $mdc-theme-on-background);
}

@mixin backgroundSurface {
    background-color: $mdc-theme-surface;
    background-color: var(--mdc-theme-surface, $mdc-theme-surface);
    color: $mdc-theme-on-surface;
    color: var(--mdc-theme-on-surface, $mdc-theme-on-background);
}