$mdc-theme-primary: #2196f3;
$mdc-theme-on-primary: #ffffff;

$mdc-theme-secondary: hsl(45, 100%, 51%);
$mdc-theme-on-secondary: #ffffff;

$mdc-theme-background: #f5f5f5;

$mdc-theme-surface: #ffffff;