@import "preact-material-components/material-components-web";

a {
    color: inherit;
    text-decoration: inherit;
}

html * {
    font-family: Roboto, sans-serif; // color: $mdc-theme-text-primary-on-background;
}

body {
    // overflow: hidden;
}
.mdc-snackbar {
    bottom: 56px !important;
}