.reader {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    bottom: 0px;
    width: 100%;
    // min-height: calc(100% - 56px);
    background: black;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    .img-responsive{
        z-index: 9;
        margin: auto;
        max-width: 100%;
        max-height: 100%;
    }
}
