.backdrop {
    z-index: 10;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.85);
    padding: 50;

    .modal {
        z-index: 11;
        height: 100%;
        margin: 0 auto;
        display: flex;
        flex-flow: column;

        .filler {
            flex: 1 1 auto;
        }

        .footer {
            display: flex;
            align-items: center;
            flex-flow: row;
            background-color: #323232;

            .slidecontainer {
                flex: 1 1 auto;
                margin: 5px;

                input[type=range] {
                    -webkit-appearance: none;
                    width: 100%;
                    margin: 7.25px 0;
                  }
                  input[type=range]:focus {
                    outline: none;
                  }
                  input[type=range]::-webkit-slider-runnable-track {
                    width: 100%;
                    height: 0.5px;
                    cursor: pointer;
                    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
                    background: #ffffff;
                    border-radius: 0px;
                    border: 1px solid #ffffff;
                  }
                  input[type=range]::-webkit-slider-thumb {
                    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
                    border: 1px solid #000000;
                    height: 15px;
                    width: 15px;
                    border-radius: 50px;
                    background: #00ffaf;
                    cursor: pointer;
                    -webkit-appearance: none;
                    margin-top: -8.25px;
                  }
                  input[type=range]:focus::-webkit-slider-runnable-track {
                    background: #ffffff;
                  }
                  input[type=range]::-moz-range-track {
                    width: 100%;
                    height: 0.5px;
                    cursor: pointer;
                    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
                    background: #ffffff;
                    border-radius: 0px;
                    border: 1px solid #ffffff;
                  }
                  input[type=range]::-moz-range-thumb {
                    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
                    border: 1px solid #000000;
                    height: 15px;
                    width: 15px;
                    border-radius: 50px;
                    background: #00ffaf;
                    cursor: pointer;
                  }
                  input[type=range]::-ms-track {
                    width: 100%;
                    height: 0.5px;
                    cursor: pointer;
                    background: transparent;
                    border-color: transparent;
                    color: transparent;
                  }
                  input[type=range]::-ms-fill-lower {
                    background: #f2f2f2;
                    border: 1px solid #ffffff;
                    border-radius: 0px;
                    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
                  }
                  input[type=range]::-ms-fill-upper {
                    background: #ffffff;
                    border: 1px solid #ffffff;
                    border-radius: 0px;
                    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
                  }
                  input[type=range]::-ms-thumb {
                    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
                    border: 1px solid #000000;
                    height: 15px;
                    width: 15px;
                    border-radius: 50px;
                    background: #00ffaf;
                    cursor: pointer;
                    height: 0.5px;
                  }
                  input[type=range]:focus::-ms-fill-lower {
                    background: #ffffff;
                  }
                  input[type=range]:focus::-ms-fill-upper {
                    background: #ffffff;
                  }
                  

            }
            
            .progress {
                color: white;
                margin: 5px;
            }

            .edit {
                margin: 5px;
            }
        
            .slider {
                width: 100%;
            }
        }
    }
}