.backdrop {
    z-index: 2;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.85);
    padding: 50;

    .modal {
        height: 100%;
        margin: 0 auto;
        display: flex;
        flex-flow: column;

        .filler {
            flex: 1 1 auto;
        }

        .footer {
            display: flex;
            align-items: center;
            flex-flow: row;
            background-color: #323232;

            .progress {
                color: white;
                margin: 5px;
            }

            .edit {
                margin: 5px;
            }

            .slider {
                width: 100%;
                margin-left: 20px;
                margin-right: 20px;
            }
        }
    }
}