@import '@material/layout-grid/_variables.scss';
@import '@material/layout-grid/_mixins.scss';

.header {
    $height-offset: 75px;

    position: relative; // margin-top: calc(100vh - 230px);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;

    @media (min-width: mdc-layout-grid-breakpoint-min(desktop)) {
        margin-top: 65px;
    }

    &::after {
        content: "";
        clear: both;
        display: table;
    }

    .cover {
        position: relative;
        top: -$height-offset;
        height: 150px;
        float: left;
        margin-right: 10px;
        margin-bottom: -$height-offset;
    }

    .rating {
        @include textHint;
    }

    .tags {
        padding-top: 5px;
        height: 18px;
        @include colorPrimary;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .series {
        padding-top: 5px;
        font-size: 1.5em;
        font-weight: bold;
    }
    .title {
        padding-top: 5px;
        @include textSecondary;
    }
    .buttons {
        text-align: center;

        button {
            @include textPrimary;

        }

        .menu {
            display: inline;
        }

    }

    .read-fab {
        $offset: -#{10 + (56/2)}px;
        float: right;
        position: relative;
        top: $offset;
        margin-bottom: $offset;
    }
    .summary {
        padding-top: 5px;
    }
}

.parallax {
    width: 100vw;
    height: calc(100vh - 116px);

    margin-left: -15px;
    margin-top: -112px;

    background: #333;
    img {
        opacity: calc(1 - var(--scroll-per) * 1.5);
    }

    @media (min-width: mdc-layout-grid-breakpoint-min(desktop)) {
        display: none;
    }
}