@import '@material/layout-grid/_variables.scss';
@import '@material/layout-grid/_mixins.scss';

.top-bar {
    @include backgroundPrimary;
    position: fixed;
    width: 100%;
    height: 56px;
    z-index: 4;

    display: flex;
    justify-content: space-between;
    font-size: 24;
    align-items: center;

    transition: background-color 500ms;
    &.hidden {
        background-color: rgba(0, 0, 0, 0);
        background-image: linear-gradient(black, rgba(0, 0, 0, 0));

        @media (min-width: mdc-layout-grid-breakpoint-min(desktop)) {
            @include backgroundPrimary;
            background-image: unset;
        }
    }

    @media (min-width: mdc-layout-grid-breakpoint-min(desktop)) {
        top: 0 !important;
    }

    section {
        padding: 4px;
        :global(.mdc-icon) {
            padding: 12px;
        }
    }
    .left {
        display: inline-flex;
        align-items: center;
        justify-content: flex-start;

        .breadcrumbs {
            display: inline-block;
            width: calc(100vw - 112px);

            -webkit-mask-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,1) 90%, rgba(0,0,0,0) 100%);

            @media (min-width: mdc-layout-grid-breakpoint-min(desktop)) {
                width: calc(100vw - 505px);
            }

            white-space: nowrap;
            overflow: hidden;

            .home {
                padding: 0;
            }
            a {
                display: inline-flex;
                align-items: center;
                .arrow {
                    opacity: 0.5;
                    padding: 0;
                }
            }

        }
    }
    .right {
        align-items: center;
        justify-content: flex-end;

        input {
            @include backgroundSurface;
            width: 0px;
            transition: width 0.15s;
            position: fixed;
            top: 0;
            right: 0;
            border: none;
            outline: none;

            font-size: 1.12em;
            padding-top: 16px;
            padding-bottom: 16px;


            &:focus {
                width: calc(100% - 44px);
                padding-right: 34px;
                padding-left: 10px;
                border-bottom: solid $mdc-theme-primary 3px;
                border-bottom: solid var(--mdc-theme-primary, $mdc-theme-primary) 3px;
                &+label {
                    @include textSecondary;
                    position: fixed;
                    right: 4px;
                    top: 4px;
                    pointer-events: none;
                }
            }

        }

        @media (min-width: mdc-layout-grid-breakpoint-min(desktop)) {
            input,
            input:focus {
                width: 400px;
                padding-top: 10px;
                padding-bottom: 10px;
                padding-right: 34px;
                padding-left: 10px;
                border-bottom: unset;
                margin: 6px;
            }
            label {
                @include textSecondary;
                position: fixed;
                right: 4px;
                top: 4px;
                pointer-events: none;
            }
        }
    }
}